node_modules/
dist
etc/

public/*
!public/favicon.ico
!public/resume.pdf
!public/videos/
public/videos/*
!public/videos/*.png
!public/videos/*.jpg
!public/videos/*.jpeg
!public/videos/*.gif
!public/videos/*.webp

src/content/projects/**/media/*.mp4
src/content/projects/**/media/*.mov
src/content/projects/**/media/*.webm

.DS_Store
