@import '../../index.scss';

.carousel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  &-slides {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0;
    touch-action: none;

    &-slide {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      // width: calc(100% - (2 * $margin));
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $white;
      font-size: 1rem;

      &-header, &-body {
        width: calc(100% - 4rem);
        max-width: $maxWidth;
      }

      &-header {
        height: 5rem;
        cursor: pointer;
        text-align: center;
      }

      &-body {
        height: 0;
        line-height: 1.5rem;
        overflow-x: hidden;
        overflow-y: scroll;
        transition: height .5s;
        
      }

      &.open {
        .carousel-slides-slide-body {
          height: calc(100% - 10rem);
        }
      }
    }
  }

  &-dots {
    position: absolute;
    bottom: 1rem;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;

    &-dot {
      width: .625rem;
      height: .625rem;
      border-radius: 50%;
      margin: 0.1875rem;
      background-color: $white;
      opacity: .25;
      transition: opacity .5s;

      &.active {
        opacity: 1;
      }
    }
  }

  &-debug {
    position: absolute;
    a {
      display: block;
    }
  }
}