$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$minWidth: 360px;
$maxWidth: 1080px;

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('assets/fonts/Roboto.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  src: url('assets/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 600;
  src: url('assets/fonts/Roboto-Bold.ttf');
}

html, body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: $black;
  color: $white;
  color: $white;
  font-family: 'Roboto'; 
  font-size: 16px;
  overscroll-behavior-x: none;
}

.projects {
  &-project {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

/*
.projects {
  width: 100%;
  height: 100%;

  &-project {

    // position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1rem;
      transition: transform 0.75s cubic-bezier(0.83, 0, 0.17, 1);

      & > * { user-select: none; }

      &-name {
        margin: 0;
        cursor: pointer;
        font-style: italic;
      }

      &-title {
        margin: 0.25rem;
        font-size: italic;
        font-size: 1rem;
        font-style: italic;
      }

      &-tags {
        display: flex;
        margin-bottom: 1rem;

        &-tag {
          position: relative;
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          margin: 0 .25rem;
          cursor: pointer;
          -webkit-tap-highlight-color: transparent;
          &.PRO { background-image: url('assets/images/tag_profile.svg'); }
          &.GIT { background-image: url('assets/images/tag_gitlab.svg'); }
          &.TWI { background-image: url('assets/images/tag_twitter.svg'); }
          &.RES { background-image: url('assets/images/tag_resume.svg'); }
          &.AR { background-image: url('assets/images/tag_augmented-reality.svg'); }
          &.VR { background-image: url('assets/images/tag_virtual-reality.svg'); }
          &.CV { background-image: url('assets/images/tag_computer-vision.svg'); }
          &.LIV { background-image: url('assets/images/tag_live-event.svg'); }
          &.EXP { background-image: url('assets/images/tag_experiment.svg'); }
          &.BED { background-image: url('assets/images/tag_backend.svg'); }
          &.FED { background-image: url('assets/images/tag_frontend.svg'); }
          &.PC { background-image: url('assets/images/tag_physical-computing.svg'); }
          &.APP { background-image: url('assets/images/tag_app.svg'); }
          &.HOL { background-image: url('assets/images/tag_holograms.svg'); }

          &-tip {
            position: absolute;
            z-index: 3;
            top: calc(100% + .5rem);
            left: 50%;
            padding: .125rem .5rem;
            border: 0;
            border-radius: .5rem;
            background: white;
            color: black;
            font-size: .75rem;
            font-style: italic;
            font-weight: bold;
            opacity: 0;
            text-align: center;
            transform: translateX(-50%);
            transition: visibility .5s, opacity .5s;
            visibility: hidden;
            white-space: nowrap;
          }

          &:hover {
            .projects-project-header-tags-tag-tip {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      &-close {
        position: absolute;
        top: .75rem;
        overflow: hidden;
        width: 1rem;
        height: 1rem;
        padding: 0;
        border: 0;
        border-radius: 50%;
        margin-left: .5rem;
        background: transparent;
        color: white;
        cursor: pointer;
        font-size: 1rem;
        line-height: 1rem;
        opacity: 0;
        transition: visibility .5s, opacity .5s;
        visibility: hidden
      }

    }
    &-body {
      width: 75vw;
      height: 0;
      margin-left: -2rem;
      overflow-x: hidden;
      overflow-y: auto;
      // transform: skew(-14deg);
      transition:  height 0.75s cubic-bezier(0.83, 0, 0.17, 1);

      & > p, & > .container {
        opacity: 0;
        transition: opacity .25s, visibility .25s;
        visibility: hidden;
      }
      & > p {
        margin: .5rem 1rem;
        color: $white;
        line-height: 1.5rem;
        text-align: justify;
        user-select: none;
        a { color: $white; }
        // TODO: should be any element that comes last
        &:last-child {
          margin-bottom: 5rem;
        }
      }

      &::-webkit-scrollbar       { width: 8px; background-color: rgba(255, 255, 255, 0) }
      &::-webkit-scrollbar-track { background-color: rgba(0, 0, 0, 0); }
      &::-webkit-scrollbar-thumb { border-radius: 16px; background-color: rgba(255, 255, 255, .25); }

    }

    .container {
      position: relative;
      overflow: hidden;
      margin: 1rem;
      background-position: center;
      background-size: contain;
      &:after {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background: rgba(0, 0, 0, .5);
        content: '';
        @include full;
      }

      img, video {
        position: relative;
        z-index: 1;
        left: 50%;
        max-height: calc(100vh - 10rem);
        margin-bottom: -6px;
        outline: none;
        // transform: skew(14deg) translateX(-50%);
      }
    }

    .nobreak {
      white-space: nowrap;
      & > * {
        display: inline;
      }
    }

    &.open {

      .projects-project {

        &-header {
          transform: translateX(10vh);

          &-name {
          }
          &-title {
          }
          &-tags {
          }

          &-close {
            opacity: 1;
            visibility: visible;
          }
        }
        &-body {
          height: calc(100% - 8rem);
          opacity: 1;
          user-select: auto;
          visibility: visible;

          & > p, & > .container { //, & > img, & > video, .image {
            opacity: 1;
            user-select: auto;
            visibility: visible;
          }
        }
      }
    }

    &.closing {
      .projects-project {
        &-body {
          & > p, & > .container {
            transition-delay: 0s !important;
          }

          // &::-webkit-scrollbar       { width: 8px; background-color: rgba(255, 255, 255, 0) }
          // &::-webkit-scrollbar-track { background-color: rgba(0, 0, 0, 0); }
          &::-webkit-scrollbar-thumb { border-radius: 16px; background-color: rgba(255, 255, 255, 0); }

        }
      }
    }
  }
}
*/